
.perfil{
    padding-left: 10px;
    padding-top: 10px;
    align-items: center;
}

.swiper-pagination {
    padding-bottom: 120px;
}
.icon-maps {
    max-width: 15px;
    max-height: 15px;
}



